<h1>Your password has been reset</h1>

<p>Hi <%= @user.login %>,</p>

<p>You or someone else has requested a new password for your account at <%= AppConfig.site_name %>.
Your new login details are:</p>

<table border="0">
	<tr><th>Username:</th><td><%= @user.login %></td></tr>
	<tr><th>Password:</th><td><%= @new_password %></td></tr>
</table>

<p>You can <%= link_to "login here", login_url %>.</p>
