<h1>Activate your <%= AppConfig.site_name %> account.</h1>

<p>Hi <%= @user.login %>,</p>

<p>Thanks for signing up with <%= AppConfig.site_name %>. You're one step
away from becoming a member.</p>

<p><%= link_to "Activate your account", @url, class: 'btn-primary' %></p>

<p>After activation, you can login with username <b><%= @user.login %></b> and
start listing the books you own that you'd like to share. And you'll be able to
borrow books from others.</p>
