<h1>Loan approved</h1>

<p>Hi <%= @borrower %>,</p>

<p><%= @owner %> is going to loan you <%= @item %>!</p>

<p>Now it's time to arrange how you're going to pick it up.
You can contact <%= @owner %> by replying to this email.</p>

<p>You can review all your borrowed items, and items borrowed from you
on your <%= link_to "loans page", loans_url %>.</p>
