<%= inheriting_view 'items/edit' do %>
<%= content_for :additional_fields do %>

	<tr>
		<td><label for="author_first">Author's First Name</label></td>
		<td><%= text_field_tag 'item[author_first]',
					@item.author_first,
					:id => 'author_first' %></td>
	</tr>

	<tr>
		<td><label for="author_last">Author's Last Name</label></td>
		<td><%= text_field_tag 'item[author_last]',
					@item.author_last,
					:id => 'author_last' %></td>
	</tr>

	<tr>
		<td><label for="lcc_number">
			<abbr title="Library of Congress Classification">LCC</abbr>
		</label></td>
		<td><%= text_field_tag 'item[lcc_number]',
			@item.lcc_number,
			:id => 'lcc_number' %></td>
	</tr>
<% end %>
<% end %>
