<%= inheriting_view 'items/show' do %>
	<%= content_for :additional_fields do %>
		<tr>
			<th>author:</th>
			<td><%= author_link @item %></td>
		</tr>
		<% if @item.lcc_number.present? %>
			<tr>
				<th>LCC:</th>
				<td><%= h @item.lcc_number %></td>
			</tr>
		<% end %>
	<% end %>

	<%= content_for :additional_description do %>
		<% if @item.has_cover_image? %>
			<%= cover_photo @item %>
		<% end %>
	<% end %>
<% end %>
