<%= form_tag loan_path(req), :method => 'put' do -%>
	<fieldset>
		<legend>approve request</legend>
		<table>
			<tr>
				<td>Due Back:</td>
				<td><%= text_field_tag 'return_date', '', :class => 'return-date' %></td>
			</tr>
		<tr><td>Memo:</td>
			<td><%= text_field_tag 'memo' %></td></tr>
		</table>
		<%= submit_tag 'approve' %>
	</fieldset>
<% end %>

<%= form_tag loan_path(req), :method => 'put' do -%>
	<input type="hidden" name="status" value="rejected">
	<%= submit_tag 'deny' %>
<% end %>
