<% including ||= [] %>

<table class="items">
	<tr>
		<th>cover</th>
		<th>title</th>
		<th>author</th>
		<% if self.current_user %><th>owner</th><% end %>
		<% if self.current_user %><th>distance</th><% end %>
	</tr>
	<% items.each do |item| %>
		<tr>
			<td><% if item.has_cover_image? %>
				<a href="<%= polymorphic_path(item) %>"><%= cover_photo(item) %></a>
			<% end %></td>

			<td class="title" <%= 'colspan="2"' unless item.is_a? Book %>>
				<%= link_to highlight(h(item.title), @query), polymorphic_path(item) %>
			</td>
			<% if item.is_a? Book %>
				<td><%= highlight(h(item.author), @query) %></td>
			<% end %>

			<% if self.current_user %><td><%= user_link item.owner %></td><% end %>
			<% if self.current_user %><td><%= distance item.owner.distance_from(self.current_user) %></td><% end %>
		</tr>
		<% if including.member? :description %>
			<tr><td colspan="4">
				<%= excerpt_and_highlight(item.description, @query) %>
			</td></tr>
		<% end %>
	<% end %>
</table>
