<h1>editing <%= h @item.title %></h1>

<%= error_messages_for(:item).untaint %>

<%= form_for :item, :url => { :action => 'update' }, :html => { :method => 'put' } do |f| -%>
<table>

	<tr>
		<td><label for="item_title">Title</label></td>
		<td><%= f.text_field :title %></td>
	</tr>

	<tr>
		<td><label for="item_description">Description</label></td>
		<td><%= f.text_area :description %></td>
	</tr>

	<%= default_content_for :additional_fields do %><% end %>

	<tr>
		<td><label for="tags">Tags</label></td>
		<td>
			<% str_tags = @item.tags.map { |t| t.to_s } %>
			<input id="tags" class="tags" name="tags" value="<%=h str_tags.join(', ') %>" style="width:25em;">
		</td>
	</tr>
</table>

<p>
	<%= submit_tag 'Update' %>
</p>
<% end -%>
