<h1>Add a new <%=h params[:controller].singularize %></h1>

<%= error_messages_for(:item).untaint %>

<%= form_for :item, :url => polymorphic_path(@item) do |f| -%>
<%= f.hidden_field :cover_url if @item.cover_url.present? %>
<table>

	<%= default_content_for :utility_fields do %><% end %>

	<tr>
		<td><label for="item_title">Title</label></td>
		<td><%= f.text_field :title %></td>
	</tr>

	<%= default_content_for :additional_fields do %><% end %>

	<tr>
		<td><label for="item_description">Review</label></td>
		<td><%= f.text_area :description %></td>
	</tr>

	<tr>
		<td><label for="tags">Tags</label></td>
		<td>
			<% str_tags = @tags.map { |t| t.to_s } %>

			<input id="tags" class="tags" name="tags" value="<%=h str_tags.join(', ') %>" style="width:25em;">

		</td>
	</tr>
</table>

<p>
	<%= default_content_for :submit_button do %>
		<%= submit_tag 'Add Item' %>
	<% end %>
</p>
<% end -%>
