<h1>Your settings</h1>

<%= javascript_include_tag 'accountsettings' %>

<%= form_for :user, :url => { :action => 'update' } do |f| -%>
	<table>
		<tr>
			<td><label for="email">Email:</label></td>
			<td><%= f.text_field :email %></td>
		</tr>

		<tr>
			<td><label for="user_address">Address:</label></td>
			<td><%= f.text_field :address %></td>
		</tr>

		<tr>
			<td><label for="user_city">City:</label></td>
			<td><%= f.text_field :city %></td>
		</tr>

		<tr>
			<td><label for="user_postalcode">Postal Code:</label></td>
			<td><%= f.text_field :postalcode %></td>
		</tr>

		<tr>
			<td><label for="user_longitude">Longitude:</label></td>
			<td><%= f.text_field :longitude %></td>
		</tr>

		<tr>
			<td><label for="user_latitude">Latitude:</label></td>
			<td><%= f.text_field :latitude %></td>
		</tr>

		<% if AppConfig.use_sms %>
		<tr class="sms_input">
			<td><label for="user_cellphone">Cellphone:</label></td>
			<td><%= f.text_field :cellphone %></td>
		</tr>

		<tr class="sms_input">
			<td><label for="user_cellphone_provider">Cellphone Provider:</label></td>
			<% options = options_for_select({
				"Aliant" => "aliant",
				"Bell Mobility" => "bellmobility",
				"Fido Canada" => "fido-canada",
				"Manitoba Telecom" => "manitobatelecom",
				"NorthernTel" => "northerntel",
				"Rogers" => "rogers",
				"SaskTel" => "sasktel",
				"Telebec" => "telebec",
				"Telus Mobility" => "telus" }, @user.cellphone_provider) %>
			<td><%= select_tag "user_cellphone_provider", options, :name => "user[cellphone_provider]" %></td>
		</tr>
		<% end %>

		<tr>
			<td colspan="2" align="center"><label for="user_about">Write a little about yourself</label></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.text_area :about %></td>
		</tr>

		<tr>
			<td><label for="tags">Tags</label></td>
			<td>
				<% str_tags = @user.tags.map { |t| t.to_s } %>
				<input id="tags" class="tags" name="tags" value="<%=h str_tags.join(', ') %>" style="width:25em;">
			</td>
		</tr>

	</table>

	<p><%= submit_tag 'Update' %></p>
<% end -%>

<h2>Change password</h2>

<%= form_tag :action => 'update' do -%>
	<table>
		<tr>
			<td><label for="password">New Password:</label></td>
			<td><input type="password" name="user[password]" id="password"></td>
		</tr>
		<tr>
			<td><label for="password_confirmation">Again:</label></td>
			<td><input type="password" name="user[password_confirmation]" id="password_confirmation"></td>
		</tr>
	</table>

	<p><%= submit_tag 'Update' %></p>
<% end -%>

<% if current_user.librarian? -%>
<h2>Change Membership</h2>

<%= form_tag :action => 'update' do -%>
	<%= hidden_field_tag "user[librarian_since]", nil %>
	<p>You are currently a librarian. If you're not actively helping anymore to maintain this website,
	please consider to give up being one. That keeps it clear for everyone. You can always become a
	a librarian again.<br>
	<%= submit_tag 'Stop being a librarian' %></p>
<% end -%>
<% end -%>
